@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Merriweather-Bold';
  src: url('/fonts/merriweather/Merriweather-Bold.woff2') format('woff2'),
      url('/fonts/merriweather/Merriweather-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Merriweather-Black';
  src: url('/fonts/merriweather/Merriweather-Black.woff2') format('woff2'),
      url('/fonts/merriweather/Merriweather-Black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@layer base {
  h2, h3 {
    font-family: 'Merriweather-Bold', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
  }

  h4, h5, h6 {
    font-family: 'Merriweather-Bold', Arial, Helvetica, sans-serif;
  }

  h1 {
    font-family: 'Merriweather-Black', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
  }
}

.navLinks {
  @apply uppercase font-opensans font-bold px-3 hover:bg-primary hover:text-white rounded-full text-xs lg:text-sm px-6 py-2;
}

.transitionItem {
  @apply transition duration-300 ease-in;
}

.button {
  @apply rounded-full bg-primary text-white px-6 py-3 border-2 border-primary hover:text-primary hover:bg-transparent font-bold uppercase;
}

.button-outline {
  @apply rounded-full bg-primary text-white px-4 py-2 border-2 border-white bg-transparent hover:bg-white hover:border-white hover:text-primary font-bold;
}

.buttonUpcoming {
  @apply rounded-full bg-primary text-white px-4 py-2 hover:bg-orange-700 font-bold uppercase;
}

.buttonSmall {
  @apply rounded-full bg-primary text-white px-4 py-2 border-2 border-primary hover:text-primary hover:bg-transparent font-bold uppercase;
}

.greyParagraph {
  @apply font-opensans text-secondary opacity-70 tracking-normal leading-6;
}

.lightgreyParagraph {
  @apply font-opensans text-white opacity-80 tracking-wide leading-5;
}

.whiteParagraph {
  @apply font-opensans text-white tracking-normal;
}

.icon {
  @apply inline m-0 p-0;
}

.headerBorder {
  @apply border-l-4 border-primary pl-2;
}

.footerLink {
  @apply mb-4 pl-1 hover:border-l-4 hover:border-primary lg:text-base text-xs;
}

.socialLinks {
  @apply text-white text-lg bg-primary hover:bg-orange-600 cursor-pointer lg:py-3 lg:px-4 py-2 px-3 rounded-full;
}

.header {
  @apply headerBorder text-secondary text-lg lg:text-2xl text-center mb-8 lg:mb-20;
}

.tableRow {
  @apply border-b;
}

.tableCell {
  @apply py-2 text-center;
}
